@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide Scrollbar Completely */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
* {
  scrollbar-width: none;
}

/* For IE and Edge */
* {
  -ms-overflow-style: none;
}

/* Smooth scrolling for the entire page */
html {
  scroll-behavior: smooth;
}

/* Ensure navbar stays above scrollbar */
header {
  z-index: 100;
}